#input-wrap{
      display: none;
      border-radius: 4px;
      position: absolute;
      text-align: center;
      height: auto;
      background-color: #333;
      color: #333;
  }
  #input{
      position: relative;
      display: table;
      width: 100%;
      padding-bottom: .3em;
  }
  .bcol, #input-backspace{   
      opacity: .8;
      float: left;
      background-color: #eee;
  }
  .mtext{
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
  }
  #input-close{
      position: absolute;
      font-size: 24px;
      right: -30px;
      top: 0;
      width: 30px;
      height: 30px;
      color: #bbb;
      background-color: #333;
  }
  #input-close:hover, .bcol:hover, 
  #input-backspace:hover, #speedNumber:hover, #dotsNumber:hover{
      opacity: 1;
      cursor: pointer;
  }
  .bcol, #input-display, 
  #input-close, #input-backspace{
      border-radius: 3px;
  }